.pw_input_wrapper {
    display: flex;
    position: relative;
    align-items: center;
    input {
        border-radius: 10px;
        padding: 0 40px 0 20px;
    }
}

.eye_icon {
    position: absolute;
    cursor: pointer;
    display: flex;
    right: 20px;
}
