@import "../../styles/util";

.search_result_box {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    border-radius: 10px;
    box-shadow: 2px 2px 15px 2px gray;
    width: 280px;
    height: 290px;
    margin: 10px;
    &:hover {
        transform: translateY(-5px);
        transition: 0.3s ease-out;
    }
    img {
        width: 100%;
        height: 65%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.result_desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 15px;

    .title {
        color: $color-second;
        font-size: 20px;
    }
}
