@import "../util";

section {
    // min-height: 1000px;
    border-bottom: 2px solid #d4d4ba;
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        color: $color-primary;
    }
}
h1 {
    text-align: center;
    font-size: 30px;
}
table {
    border: 2px solid rgba(145, 145, 145, 0.377);
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    width: 80%;
    text-align: center;
    background-color: #ffffff59;
    .first_tr {
        // border: 1px solid black;
        th {
            padding: 20px;
            font-size: 18px;
            font-weight: 800;
        }
    }
    td {
        padding: 4px;
    }
}
.logout_btn {
    width: 10vw;
    height: 40px;
    border-radius: 20px;
    background-color: $color-primary;
    color: $color-second;
    margin-top: 50px;
    font-size: 14px;
    &:hover {
        background-color: $color-second;
        color: $color-primary;
        font-weight: 700;
        transition: 0.2s;
    }
}
