@import "../../styles/util";

.login_wrapper {
    width: 380px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    margin-right: 50px;
    input {
        width: 180px;
        height: 40px;
        border-radius: 20px;
        padding: 0 40px 0 20px;
    }
}

.id_wrap,
.pw_wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.id_wrap {
    margin-left: 10px;
}

.login_btn {
    width: 310px;
    height: 40px;
    border-radius: 20px;
    background-color: $color-primary;
    color: $color-second;
    margin-top: 10px;
    &:hover {
        background-color: $color-second;
        color: $color-primary;
        font-weight: 700;
        transition: 0.2s;
    }
}

.social_login {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: #f8e539;
        color: $color-text;
        border-radius: 10px;
        padding: 8px;
        width: 310px;
        cursor: pointer;
        &:hover {
            background-color: #f8e539;
            color: $color-text;
            transition: 0.2s;
        }
    }
}
