@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css");
@import "../../styles/util";

.CAM {
    margin-top: 8%;
    margin-bottom: 3%;
    height: 100vh;
    .videoAndButtonContainer {
        display: flex;
        justify-content: center;
        margin-top: 90px;
        .right {
            margin-right: 5px;
            .videoBackground {
                overflow: hidden;
                border-radius: 10px 0 0 0;
                .remoteVideo {
                    background-color: $color-primary; 
                    height: 600px;
                    width: 700px;
                }
            }
        }
        .left {
            .videoBackground {
                overflow: hidden;
                border-radius: 0 10px 0 0;
                .localVideo {
                    width: 350px;
                    height: 262px;
                    background-color: #3e888c;
                    overflow: hidden;
                }
            }
            .chatting_for_one {
                width: 350px;
                background-color: #3e888c;
                p {
                    margin: 0;
                    text-align: center;
                    color: #ffffdd;
                    padding: 10px 0;
                    background-color: #016a70;
                }
                .chatting_content {
                    height: 188px;
                    padding: 20px;
                    overflow-y: auto; 
                    .me {
                      text-align: right;
                      margin-right: 3px;
                    }
                    
                    .other {
                        text-align: left;
                    }
                    .speech {
                        padding: 14px 0;
                        span {
                            background-color: #fffffd;
                            box-shadow: 1px 1px 3px gray;
                            padding: 7px 12px;
                            font-size: 14px;
                            border-radius: 7px;
                            margin-left: 5px; 
                          }  
                                             
                        
                      .nickname {
                          background-color: #f4f6d5;
                          box-shadow: 1px 1px 3px gray;
                          padding: 7px 5px; 
                          border-radius: 7px; 
                      }
                    }
                    
                }
                .chatting_input {
                    width: 100%;
                    height: 66px;
                    display: flex;
                    align-items: center;
                    form {
                        position: relative;
                        margin: 0 auto;
                        input {
                            width: 220px;
                            height: 30px;
                            margin: 0 auto;
                            padding-left: 15px;
                            border-radius: 10px;
                        }
                        button {
                            position: absolute;
                            top: 5px;
                            right: 10px;
                            box-shadow: none;
                            background-color: #ffffdd;
                            border: 1px solid #c9c9aa;
                            &:hover {
                                background-color: #016a70;
                            }
                        }
                    }
                }
            }
        }
    }
    .btnBox {
        margin: 0 auto;
        min-width: 768px;
        display: flex;
        justify-content: center;
        div {
            width: 1055px;
            height: 50px;
            background-color: #3e888c;
            border-radius: 0 0 10px 10px;
            display: flex;
            justify-content: space-around;
            button {
                width: 300px;
                padding: 4px 0;
                margin: 10px 15px;
                box-shadow: 3px 3px 3px gray;
            }
        }
    }
}
