@import "../../styles/util";
.find_pw_container {
    display: flex;
    flex-direction: column;
    h2 {
        color: $color-primary;
        text-align: center;
    }
}
.find_pw {
    border-radius: 10px;
    background-color: #ffffff59;
    border: 2px solid rgba(145, 145, 145, 0.377);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    label {
        text-align: right;
        margin-bottom: 20px;
    }
    input {
        width: 170px;
        height: 35px;
        border-radius: 10px;
        padding: 0 40px 0 15px;
        margin: 10px;
    }
    .find_pw_certification {
        position: relative;
        right: 12px;
    }
}

.find_pw_id {
    margin-left: -55px;
}

.find_pw_email {
    margin-right: 55px;
    button {
        position: absolute;
        margin-top: 10px;
    }
}

.find_pw_certification {
    margin-left: 25px;
}

.find_pw_btn {
    width: 70px;
    height: 38px;
    border-radius: 10px;
    background-color: $color-primary;
    color: $color-second;
    font-size: 12px;
    text-align: center;
    &:hover {
        background-color: $color-second;
        color: $color-primary;
        font-weight: 700;
        transition: 0.2s;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    width: 100%;
    height: 100%;

    .modal_content {
        height: 94%;
        background-color: #fcfcec;
        padding: 60px 30px 0 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        top: 20px;
        div {
            width: 450px;
            height: 40px;
            margin: 10px auto;
            position: relative;
            label {
                position: absolute;
                margin-left: 20px;
                margin-top: 4px;
                line-height: 60px;
                font-size: 18px;
            }
            input[type="password"] {
                position: absolute;
                margin-left: 130px;
                top: 3px;
                width: 200px;
                height: 35px;
                padding-left: 10px;
                border: none;
                box-shadow: none;
                border-bottom: 1px solid #d4d4ba;
                background-color: #ffffff;
            }
        }

        .modal_check {
            font-size: 18px;
            font-weight: 700;
            margin-top: 30px;
            text-align: center;
        }
        .modal_btn {
            button {
                width: 384px;
                height: 35px;
            }
        }
        .hide {
            position: absolute;
            width: 30px;
            height: 30px;
            border: none;
            background-color: #fcfcec;
            box-shadow: none;
            font-size: large;
            top: -5px;
            right: 5px;
            &:hover {
                color: #004d51;
            }
        }
    }
}
