@import "../../styles/util";

.login_container {
    display: flex;
    flex-direction: column;
    h2 {
        color: $color-primary;
        padding: 5px;
    }
}

.go_to_sign_up {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
        color: $color-primary;
        font-weight: bold;
        margin: 0 15px;
    }
}

.stu_login_area,
.tutor_login_area {
    border-radius: 10px;
    background-color: #ffffff59;
    border: 1px solid rgba(145, 145, 145, 0.377);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 0 30px;
    margin-top: 10px;
    width: 380px;
}

.stu_login_area {
    height: 410px;
}
.tutor_login_area {
    height: 340px;
}

.role_toggle_btn {
    display: flex;
    justify-content: space-around;
    margin: 10px 10px 20px 10px;
    button {
        width: 150px;
        height: 40px;
        border-radius: 25px;
        color: $color-light-gray;
        &:hover {
            background-color: #fff;
            color: $color-light-gray;
        }
    }
    .active {
        background-color: $color-primary;
        color: $color-second;
        &:hover {
            background-color: $color-primary;
            color: $color-second;
        }
    }
}

.find_id_pw {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    a {
        color: $color-primary-light;
        font-weight: bold;
    }
}

@media screen and (max-width: 459px) {
    .login_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .go_to_sign_up {
        display: flex;
        flex-direction: column;
        a {
            margin: 0 50px;
        }
    }

    .stu_login_area,
    .tutor_login_area {
        box-shadow: none;
        border: none;
        background-color: $color-bg;
    }
}
