$color-primary: #016a70;
$color-primary-light: #016a70b9;
$color-second: #ffffdd;
$color-third: #d2de32;
$color-fourth: #a2c579;

$color-light-gray: #727272;
$color-text-dark: #333333;
$color-text-green: #004d51;

$color-bg: #fcfcec;
