@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUITE/fonts/static/woff2/SUITE.css");

body {
    margin: 0;
    padding: 0;
    background-color: #fcfcec;
    font-family: "SUITE", sans-serif;
    position: relative;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
input {
    border-radius: 5px;
    border: 1px solid #d4d4ba;
    box-shadow: 1px 1px 1px gray;
    padding: 0;
    margin: 0;
}
button {
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #c9c9aa;
    box-shadow: 1px 1px 1px gray;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
}
section {
    min-height: 1000px;
    border-bottom: 2px solid #d4d4ba;
    padding: 80px;
}
.profile-img {
    border: 1px solid #d4d4ba;
    overflow: hidden;
}
// Header
.header {
    position: fixed;
    width: 100%;
    background-color: #016a70;
    color: #ffffdd;
    top: 0;
    z-index: 99;
    .container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        .logo {
            a {
                color: #ffffdd;
            }
        }
        .menu {
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                li {
                    margin: 0 1rem;
                    a {
                        text-decoration: none;
                        color: #ffffdd;
                    }
                    .header-nickname {
                        cursor: pointer;
                        .small {
                            width: 20px;
                            height: 20px;
                            border-radius: 15px;
                            img {
                                width: 20px;
                            }
                        }
                    }
                    .header-nickname {
                        width: 80px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }

    .logo {
        font-size: 1.5rem;
    }
}
.sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 70px;
    right: 0;
    background-color: #ffffdd;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 3px 3px 3px gray;
    .big {
        width: 130px;
        height: 130px;
        border-radius: 65px;
        overflow: hidden;
        img {
            width: 130px;
        }
    }
    .sidebar-profile {
        width: 100%;
        color: #004d51;
        p {
            text-align: center;
            margin: 0;
        }
        p:first-child {
            font-size: 30px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        p:last-child {
            margin-bottom: 15px;
        }
    }
    ul {
        display: flex;
        li {
            background-color: #ffff;
            color: #016a70;
            padding: 7px 12px;
            margin: 0 1rem;
            border-radius: 5px;
            border: 1px solid #c9c9aa;
            box-shadow: 1px 1px 1px gray;
            a {
                text-decoration: none;
                color: #004d51;
            }
        }
    }
}
// Footer
.footer {
    position: absolute;
    bottom: -182px;
    width: 100%;
    height: 150px;
    background-color: #016a70;
    color: #ffffdd;
    padding: 1rem 0;
    text-align: center;
    p {
        margin: 0;
        font-size: 0.9rem;
    }
}

// Instructor card
.card-container {
    display: flex;
    flex-wrap: wrap;
    .card {
        width: 300px;
        height: 450px;
        border: 1px solid #c9c9aa;
        border-radius: 10px;
        box-shadow: 3px 3px 3px gray;
        color: #ffffeb;
        margin: 0 22.5px;
        overflow: hidden;
        position: relative;
        .gradi {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            max-height: 100%;
            background: linear-gradient(to bottom, rgba(#fffff3, 0.2), rgba(#000000, 0.3));
            &:hover {
                background: linear-gradient(to bottom, rgba(#ffffff, 0.01), rgba(#000000, 0.5));
            }
        }
        .profile {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
                max-height: 100%;
                vertical-align: middle;
                opacity: 0.8;
            }
        }
        .profile-info {
            // border: 1px solid red;
            width: 240px;
            height: 180px;
            position: absolute;
            z-index: 1;
            bottom: 30px;
            left: 30px;
            color: #fcfcec;
            ul {
                li:first-child {
                    font-size: 35px;
                }
                li:nth-child(2) {
                    font-size: 15px;
                    margin-bottom: 20px;
                }
                li:nth-child(3) {
                    font-size: 18px;
                    padding-bottom: 25px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #d4d4ba;
                }
                li:last-child {
                    font-size: 20px;
                }
            }
        }
    }
}

// Main
.main-banner {
    position: relative;
    background-image: url("../assets/mainImg.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    div {
        position: absolute;
        right: 40px;
        bottom: 250px;
        font-size: 50px;
        background-color: rgba(#c0c0c0, 0.4);
        border-radius: 20px;
        padding: 30px;
    }
}
.ourtutor {
    div {
        position: relative;
        height: 50px;
        p {
            color: #004d51;
            padding-left: 22.5px;
            margin: 0;
            font-size: 70px;
        }
        .search {
            width: 900px;
            margin: 30px auto;
            input {
                width: 900px;
                height: 40px;
            }
            button {
                position: absolute;
                top: 6px;
                right: 0;
                padding: 5px 10px;
                border: none;
                box-shadow: none;
            }
        }
    }
}

// Mypage
.mypage-button-container {
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    button {
        padding: 8px 45px;
        color: #004d51;
        font-size: 16px;
        font-weight: bold;
        &:hover {
            background-color: #016a70;
            color: #ffff;
        }
    }
}

.like-container {
    margin-top: 50px;
}

// Instructor Detail Page
.instructor-profile {
    width: 100%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #004d51;
    .big {
        width: 130px;
        height: 130px;
        border-radius: 65px;
        margin-right: 50px;
        img {
            width: 130px;
        }
    }
    .profile-content {
        width: 250px;
        display: flex;
        flex-direction: column;
        h2 {
            padding: 0;
            margin: 0;
        }
        div {
            .dm {
                width: 205px;
                height: 30px;
            }
            .favorite {
                margin-left: 13px;
                width: 30px;
                height: 30px;
                overflow: hidden;
                img {
                    width: 15px;
                }
            }
        }
    }
}

.tutor-introduce-content {
    width: 100%;
    min-height: 580px;
    border: 1px solid #d4d4ba;
    box-shadow: 1px 1px 1px gray;
    border-radius: 10px;
    background-color: #016a70;
    .tutor-video-introduce {
        // border: 1px solid red;
        height: 300px;
        margin: 25px;
        display: flex;
        justify-content: space-between;
        div {
            border: 1px solid #d4d4ba;
            height: 100%;
            background-color: #ffffdd;
            border-radius: 10px;
            color: #004d51;
            p {
                margin: 20px;
            }
        }
        .tutor-video {
            width: 42%;
            overflow: hidden;
            video {
                width: 100%;
                height: 100%;
            }
        }
        .tutor-introduce {
            width: 55%;
        }
    }
    .course {
        width: 95%;
        .total-course-review {
            width: 100%;
            display: flex;
            // border: 1px solid red;
            margin: 25px 25px -15px;
            align-items: flex-end;
            p {
                padding: 0;
                margin: 0;
            }
            p:first-child {
                color: #f3f3b2;
                font-size: 20px;
                margin-right: 20px;
                span {
                    color: #f3f3b2;
                }
            }
            p:last-child {
                color: #ffffdd;
                font-size: 15px;
            }
        }
        .course-review {
            width: 100%;
            min-height: 150px;
            background-color: #ffffdd;
            margin: 25px;
            padding-bottom: 2px;
            border: #d4d4ba;
            border-radius: 10px;
            color: #004d51;
            .course-review-container {
                display: flex;
                padding: 20px 20px 10px 20px;
                align-items: center;
                .middle {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    overflow: hidden;
                    img {
                        width: 50px;
                    }
                }
                .reviewer-profile {
                    width: 100%;
                    margin-left: 30px;
                    // border: 1px solid red;
                    .reviewer-nickname {
                        margin-bottom: 3px;
                    }
                    .reviewer-date-score {
                        display: flex;
                        justify-content: space-between;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
            .review-content {
                margin: 0 20px 20px 20px;
                padding: 20px;
                background-color: #fcfcec;
                border: 1px solid #d4d4ba;
                border-radius: 10px;
                white-space: normal;
            }
        }
    }
}
