@import "../../styles/util";

.title {
    color: $color-primary;
    margin-top: -50px;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -20px;
}

.menu_btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 630px;
    margin-top: 300px;
    button {
        padding: 15px;
        margin: 50px 30px;
        box-shadow: none;
        background-color: $color-primary;
        color: $color-second;
        &:hover {
            background-color: $color-primary;
            color: $color-second;
        }
    }
}

.answer,
.allPass {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-primary;
    box-shadow: 2px 2px 10px 2px gray;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    h2 {
        color: $color-second;
        margin-bottom: 30px;
    }
    p {
        color: $color-second;
        font-size: 30px;
    }
    button {
        padding: 15px;
        margin: 50px 30px;
        box-shadow: 2px 2px 10px 2px gray;
        width: 150px;
        border-radius: 5px;
        font-weight: 700;
        background-color: $color-second;
        color: $color-text-green;
        border-top: 5px solid #fff;
        border-left: 5px solid #fff;
        border-right: 5px solid gray;
        border-bottom: 5px solid gray;
        &:hover {
            color: $color-text-green;
            background-color: $color-second;
            font-weight: 700;
            transform: translateY(5px);
            transition: 0.2s ease-out;
        }
    }
}

.answer {
    height: 310px;
}

.allPass {
    height: 380px;
}

.ending {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 23px;
        margin: 0;
    }
}
